<div class=header>
    <div class=logo><a routerLink="">VFS</a>
    </div>
    <nav class=nav>
      <ul>
        <li><a routerLink="">Главная</a></li>
        <li><a routerLink="statistics">Результаты</a></li>
        <li><a routerLink="contacts">Связаться с нами</a></li>
      </ul>
    </nav>

    <div class=burger-menu-button (click)="toggleSideMenu()">
      <mat-icon>menu</mat-icon>
    </div>

    <div class=burgen-menu-container *ngIf="this.menuIsOpened">
      <ul>
        <li><a routerLink="">Главная</a></li>
        <li><a routerLink="statistics">Результаты</a></li>
        <li><a routerLink="contacts">Связаться с нами</a></li>
      </ul>
    </div>

</div>

