ul {
  list-style-type: none;
}

a {
  opacity: 1;
  color: whitesmoke;
}

a:hover {
  opacity: 0.7;
}

nav {
  display:flex;
  align-items: center;
  justify-content: center;
  width: auto;
}

nav ul {
  margin: 0;
}

nav li {
  display: inline;
  margin-right: 60px;
}

nav a {
  padding: 1.282em 15px;
}

li:last-child {
  margin-right: 0;
}

.header {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #135aac;
  color: white;
  opacity: 0.92;
}

.logo {
  margin-left: 50px;
  padding-top: 5px;
  font-family: 'Exo', sans-serif !important;
  font-style: oblique;
  font-size: 30pt;
}

.burger {
  display: none;
}

@media (max-width: 900px) {
  nav {
    display: none;
  }
  
  .burger {
    display: block;
    margin-right: 30px;
  }

  .logo {
    margin-left: 30px;
  }
}
