ul {
  list-style-type: none;
}

a {
  opacity: 1;
  color: whitesmoke;
  -webkit-tap-highlight-color: transparent;
}

nav {
  display:flex;
  align-items: center;
  justify-content: center;
  width: auto;
}

nav ul {
  margin: 0;
}

nav li {
  display: inline;
  margin-right: 60px;
}

nav a {
  padding: 1.282em 15px;
}

li:last-child {
  margin-right: 0;
}

.header {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #135aac;
  color: white;
  opacity: 0.92;
}

.logo {
  margin-left: 50px;
  padding-top: 5px;
  font-family: 'Exo', sans-serif !important;
  font-style: oblique;
  font-size: 30pt;
}

.burger-menu-button {
  display: none;
  margin-right: 30px;
  margin-top: -10px;
}

.burger-menu-container {
  position: absolute;
  top: 90px;
  right: 0;
  background-color: #444444d3;
  height: 100vh;
  width: 50%;
  box-shadow: 0 10px 15px rgba(0,0,0,0.3);
}

.burger-menu-container li {
  height: 40px;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
}

.burger-menu-container li a {
  display: block;
}

.mat-icon {
  font-size: 25pt;
}

@media (max-width: 900px) {
  nav {
    display: none;
  }

  .logo {
    margin-left: 30px;
  }

  .burger-menu-button {
    display: flex;
  }
}

@media (hover: hover) {
  a:hover {
    opacity: 0.7;
  }

  .burger-menu-container li:hover {
    background-color: darkgray;
  }

}
