<div class=footer>

  <div class=footer-inner>

    <div class=footer-inner-logo>
        <ul>
          <li><a href="https://www.instagram.com/artyom_coach/" target="_blank" rel="noopener noreferrer"><img src='./assets/instagram.svg'></a></li>
          <li><a href="https://www.facebook.com/artyomcoach/" target="_blank" rel="noopener noreferrer"><img src='./assets/facebook.svg'></a></li>
        </ul>
      <div style="opacity: 0.95; padding-top: 15px;">
        <p class=footer-inner-logo-title>VFS © 2021</p>
        <p class=footer-inner-logo-subtitle>All rights reserved</p>
    </div>
    </div>

    <div class=footer-inner-contacts>
      <p class=footer-inner-contacts-title>Контакты</p>
        <div class=footer-inner-contacts-items>
          <img src='./assets/phone.svg'>
          <p class=footer-inner-contacts-subtitle><a href="tel:+37127363631">+371 27363631</a></p>
        </div>
        <div class=footer-inner-contacts-items>
          <img src='./assets/email.svg'>
          <p class=footer-inner-contacts-subtitle><a href="mailto:Infinity.latvija@gmail.com">Infinity.latvija@gmail.com</a></p>
        </div>
    </div>
  </div>
