<div class=footer>

  <div class=footer-inner>

    <div class=footer-inner-logo>
        <ul>
          <li><a href="https://www.instagram.com/artyom_coach/" target="_blank" rel="noopener noreferrer"><img src={{instagramImage}} onerror="changeImagesSources()"></a></li>
          <li><a href="https://www.facebook.com/artyomcoach/" target="_blank" rel="noopener noreferrer"><img src={{facebookImage}} onerror="changeImagesSources()"></a></li>
        </ul>
      <div style="opacity: 0.95; padding-top: 15px;">
        <p class=footer-inner-logo-title>VFS © 2021</p>
        <p class=footer-inner-logo-subtitle>All rights reserved</p>
    </div>
    </div>

    <div class=footer-inner-contacts>
      <p class=footer-inner-contacts-title>Контакты</p>
        <div class=footer-inner-contacts-items>
          <img src={{phoneImage}} onerror="changeImagesSources()">
          <p class=footer-inner-contacts-subtitle>+371 20058098</p>
        </div>
        <div class=footer-inner-contacts-items>
          <img src={{emailImage}} onerror="changeImagesSources()">
          <p class=footer-inner-contacts-subtitle>artur970@gmail.com</p>
        </div>
    </div>
  </div>
