<div class=container-intro>
    <p class=container-intro-title>Пройти тестирование или задать вопрос</p>
    <p class=container-intro-subtitle>Запишись на тестирование или на тренировку к профессиональному тренеру, чтобы сравнить свой результат до и после! <br><br> Помни, что даже получив высшую оценку по нормативам, необходимо поддерживать отличную форму! </p>
  </div>

  <div class="container-inner">

    <iframe
    name="hidden_iframe"
    id="hidden_iframe"
    style="display:none;">
    </iframe>

    <form action="https://docs.google.com/forms/d/e/1FAIpQLSdeBPpaMfV4NadpOhpfGOJXqfOktNIfmQoh7fyWHbvisftXJA/formResponse"
    method="post"
    target="hidden_iframe"
    (submit)="showConfirmationMessage()"
    >
        <div class=container-inner-content>
          <input class=component-input type="text" placeholder="Полное имя*" name="entry.2005620554" required>
        </div>

        <div class=container-inner-content>
          <input class=component-input type="text" placeholder="Возраст*" name="entry.1045781291" required>
        </div>

        <div class=container-inner-content>
          <input class=component-input type="tel" placeholder="Номер телефона*" name="entry.1065046570" required>
        </div>
        <div class=component-inner-button>
          <button class=component-button type="submit" id="button">Отправить</button>
        </div>
  </form>
  </div>


  <div class=container-successful-message>
    <p *ngIf="!formSubmitted" class=whitespace></p>
    <p *ngIf="formSubmitted" class=message><b>Заявка была отправлена, мы свяжемся с вами в течение 24 часов!</b></p>
  </div>
