.container {
  width: 100%;
  color: rgb(49, 49, 49);
}

.container-inner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.container-title {
  padding-top: 50px;
  width: 100%;
  font-size: 25pt;
  line-height: 1.4em;
  margin-bottom: 20px;
  text-align: center;
}

.container-subtitle {
  font-size: 14pt;
  color: rgb(99, 99, 99);
  letter-spacing: 1px;
  text-align: center;
}

.container-inner-block {
  margin: 40px;
  height: 100px;
  width: 250px;
  background-color: whitesmoke;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-wrap: wrap;
  font-size: 12pt;
}

.container-inner-block:hover {
  opacity: 0.5;
  cursor: pointer;
}

@media (max-width: 450px) {
  .container-inner {
    margin: 0 auto;
  }
}
