.container {
  width: 100%;
  color: rgb(49, 49, 49);
}

.container-inner {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.container-title {
  padding-top: 50px;
  width: 100%;
  font-size: 25pt;
  line-height: 1.4em;
  margin-bottom: 20px;
  text-align: center;
}

.container-subtitle {
  font-size: 14pt;
  color: rgb(99, 99, 99);
  letter-spacing: 1px;
  text-align: center;
  margin: 0 30px;
}

.container-inner-block {
  margin: 40px;
  width: 25%;
  height: 150px;
  background-color: whitesmoke;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-wrap: wrap;
  font-size: 12pt;
}

.container-inner-block-day {
  margin: 10px;
  width: 100%;
  display: inherit;
  align-items: center;
  text-align: left;
}

.container-inner-block-time {
  margin: 10px;
  width: 100%;
  display: inherit;
  align-items: center;
  text-align: left;
}

.container-inner-block-place {
  margin: 10px;
  width: 100%;
  display: inherit;
  align-items: center;
  text-align: left;
}

.block-image {
  margin-right: 20px;
  align-items: center;
  display: flex;
}

@media (max-width: 1300px) {
  .container-inner-block {
    height: 220px;
  }
}

@media (max-width: 965px) {
  .container-inner-block {
    width: 80%;
  }
}

@media (max-width: 550px) {
  .container-inner {
    text-align: center;
    margin: 0;
  }

  .container-inner-block {
    height: 270px;
  }
}
