<div class="container">

  <div class="container-title">Тренировки</div>
  <div class="container-subtitle">На тренировку необходима предварительная запись, записаться можно, связавшись с нами</div>

  <div class="container-inner">
   <div class=container-inner-block>
    <div class=container-inner-block-day>
        <div class=block-image><img src="./assets/day.svg"></div>
        <div>День недели: <b>Вторник</b></div>
    </div>
    <div class=container-inner-block-time>
        <div class=block-image><img src="./assets/schedule.svg"></div>
        <div>Время: <b>19:00</b></div>
    </div>
    <div class=container-inner-block-place>
        <div class=block-image><img src="./assets/location.svg"></div>
        <div>Место: <b>Золитуде, ул. Академика Паула Лейиня 20</b></div>
    </div>
   </div>
   <div class=container-inner-block>
    <div class=container-inner-block-day>
        <div class=block-image><img src="./assets/day.svg"></div>
        <div>День недели: <b>Четверг</b></div>
      </div>
      <div class=container-inner-block-time>
        <div class=block-image><img src="./assets/schedule.svg"></div>
        <div>Время: <b>19:00</b></div>
      </div>
      <div class=container-inner-block-place>
        <div class=block-image><img src="./assets/location.svg"></div>
        <div>Место: <b>Золитуде, ул. Академика Паула Лейиня 20</b></div>
        </div>
   </div>
   <div class=container-inner-block>
    <div class=container-inner-block-day>
      <div class=block-image><img src="./assets/day.svg"></div>
      <div>День недели: <b>Суббота</b></div>
    </div>
    <div class=container-inner-block-time>
      <div class=block-image><img src="./assets/schedule.svg"></div>
      <div>Время: <b>10:00</b></div>
    </div>
    <div class=container-inner-block-place>
      <div class=block-image><img src="./assets/location.svg"></div>
      <div>Место: <b>Золитуде, ул. Академика Паула Лейиня 20</b></div>
      </div>
   </div>
  </div>

  <div class=container-button><button id=button class=component-button routerLink="contacts">Записаться на тренировку</button></div>

</div>
