<div class="container">

  <div class="container-title">Тренировки</div>
  <div class="container-subtitle">На тренировку необходима предварительная запись, записаться можно, связавшись с нами</div>

  <div class="container-inner">
   <div class=container-inner-block>
    <div class=container-inner-block-day>День недели: Вторник</div>
    <div class=container-inner-block-week>Время: 19:00</div>
    <div class=container-inner-block-place>Место: Золитуде, ул. Академика Паула Лейиня 20</div>
   </div>
   <div class=container-inner-block>
    <div class=container-inner-block-date>Четверг, 19:00</div>
    <div class=container-inner-block-place>Золитуде, ул. Академика Паула Лейиня 20</div>
   </div>
   <div class=container-inner-block>
    <div class=container-inner-block-date>Суббота, 10:00</div>
    <div class=container-inner-block-place>Золитуде, ул. Академика Паула Лейиня 20</div>
   </div>
  </div>

</div>
