<p>Здесь будет статистика</p>


<p *ngIf="!userList">Loading...</p>
<ul>
  <li *ngFor="let item of userList.values">Имя: {{item[2]}} {{item[3]}}, Личный счет: {{item[4]}}</li>
</ul>

<mat-form-field appearance="fill" *ngIf="userList">
  <mat-label>Пол</mat-label>
  <mat-select #mySelect disableRipple (selectionChange)="testingThat()">
    <mat-option></mat-option>
    <mat-option value="2">М</mat-option>
    <mat-option value="3">Ж</mat-option>
  </mat-select>
</mat-form-field>

<div></div>

<mat-form-field appearance="fill" *ngIf="userList">
  <mat-label>Возраст</mat-label>
  <mat-select #mySelect (selectionChange)="testingThat()">
    <mat-option></mat-option>
    <mat-option value="2">до 16</mat-option>
    <mat-option value="3">16-25</mat-option>
    <mat-option value="4">25-50</mat-option>
  </mat-select>
</mat-form-field>
